@model request_web.Models.RequestCreateNewModel
@{
    ViewBag.Title = "Создать заявку";
}

<h2>Создать заявку</h2>
@using (Html.BeginForm("CreateNew", "Requests", FormMethod.Post, new { @class = "FromFORM" }))
{
    @Html.Hidden("SelectedMaster")
    @Html.Hidden("SelectedExecuter")
    @Html.Hidden("SelectedStreet")
    @Html.Hidden("SelectedStatus")
    @Html.Hidden("SelectedHouse")
    @Html.Hidden("SelectedAddress")
    @Html.Hidden("SelectedParServ")
    @Html.Hidden("SelectedService")
    <div>
        <label id="ErrorLabel" style="color: red;"></label>
    </div>
    <div style="margin: 10px">
        @Html.Label("Телефон:", new { @class = "control-label mr-sm-2" })
        @Html.TextBoxFor(m => m.PhoneNumber)
        @Html.Label("ФИО:", new { @class = "control-label mr-sm-2" })
        @Html.TextBoxFor(m => m.Fio)
    </div>

    <div style="margin: 10px">
        @Html.Label("Адрес:", new { @class = "control-label mr-sm-2" })
        <select class="chosen-select" data-placeholder="Улица" id="street_select" tabindex="-1" style="width: 280px; height: 25px;">
            @foreach (var street in Model.Streets)
            {
                string SelectedValue = "";
                if (street.IsSelected)
                {
                    SelectedValue = "selected='selected'";
                }
                <option @SelectedValue id='@street.Id'>@street.Name</option>
            }
        </select>
        <select class="chosen-select" data-placeholder="Дом" id="house_select" tabindex="-1" style="width: 180px; height: 25px;">
            @foreach (var house in Model.Houses)
            {
                string SelectedValue = "";
                if (house.IsSelected)
                {
                    SelectedValue = "selected='selected'";
                }
                <option @SelectedValue id='@house.Id'>@house.Name</option>
            }
        </select>
        <select class="chosen-select" data-placeholder="Адреса" id="address_select" tabindex="-1" style="width: 180px; height: 25px;">
            @foreach (var address in Model.Addresses)
            {
                string SelectedValue = "";
                if (address.IsSelected)
                {
                    SelectedValue = "selected='selected'";
                }
                <option @SelectedValue id='@address.Id'>@address.Name</option>
            }
        </select>
    </div>
    <div style="margin: 10px">
        @Html.Label("Услуга:", new { @class = "control-label mr-sm-2" })
        <select class="chosen-select" data-placeholder="Услуга" id="parrent_service_select" tabindex="-1" style="width: 280px; height: 25px;">
            @foreach (var parentService in Model.ParentServices)
            {
                string SelectedValue = "";
                if (parentService.IsSelected)
                {
                    SelectedValue = "selected='selected'";
                }
                <option @SelectedValue id='@parentService.Id'>@parentService.Name</option>
            }
        </select>
        <select class="chosen-select" data-placeholder="Причина" id="service_select" tabindex="-1" style="width: 280px; height: 25px;">
            @foreach (var service in Model.Services)
            {
                string SelectedValue = "";
                if (service.IsSelected)
                {
                    SelectedValue = "selected='selected'";
                }
                <option @SelectedValue id='@service.Id'>@service.Name</option>
            }
        </select>
    </div>
    <div style="margin: 10px">
        @Html.Label("Мастер:", new { @class = "control-label mr-sm-2" })
        <select class="chosen-select" data-placeholder="Мастер:" id="master_select" tabindex="-1" style="width: 180px; height: 25px;">
            @foreach (var worker in Model.Workers)
            {
                string SelectedValue = "";
                if (worker.IsSelected)
                {
                    SelectedValue = "selected='selected'";
                }
                <option @SelectedValue id='@worker.Id'>@worker.Name</option>
            }
        </select>
        @Html.Label("Исполнитель:", new { @class = "control-label mr-sm-2" })
        <select class="chosen-select" data-placeholder="Исполнитель:" id="executer_select" tabindex="-1" style="width: 180px; height: 25px;">
            @foreach (var worker in Model.Executers)
            {
                string SelectedValue = "";
                if (worker.IsSelected)
                {
                    SelectedValue = "selected='selected'";
                }
                <option @SelectedValue id='@worker.Id'>@worker.Name</option>
            }
        </select>
    </div>
    <div style="margin: 10px">
        <dl class="dl-horizontal">
            <dt>Комментарий:</dt>
            <dd>@Html.TextAreaFor(m => m.Description, new { style = "max-width: 480px; width:100%; height:100px;" })</dd>
        </dl>
    </div>
    <div>
        <button type="button" id="SaveRequest" class="btn form-group btn-primary pull-right" style="width:100px; height:25px; margin-left:10px; padding: 0;">Сохранить</button>
    </div>
}
<script type="text/javascript">
    $(function () {
        $(".chosen-select").chosen({
            disable_search_threshold: 0,
            no_results_text: "Нет совпадений!",
            search_contains: true
        });
        GetServices(0);
    });
    $('#SaveRequest').on('click', function () {
        const form = $(this).closest('form')[0];

        var masterId = $("#master_select :selected")[0].id;
        form["SelectedMaster"].value = masterId;

        var executerId = $("#executer_select :selected")[0].id;
        form["SelectedExecuter"].value = executerId;

        var streetId = $("#street_select :selected")[0].id;
        form["SelectedStreet"].value = streetId;

        var houseId = $("#house_select :selected")[0].id;
        form["SelectedHouse"].value = houseId;

        var addressId = $("#address_select :selected")[0].id;
        form["SelectedAddress"].value = addressId;

        //var statusId = $("#status_select :selected")[0].id;
        //form["SelectedStatus"].value = statusId;

        var parServId = $("#parrent_service_select :selected")[0].id;
        form["SelectedParServ"].value = parServId;

        var serviceId = $("#service_select :selected")[0].id;
        form["SelectedService"].value = serviceId;
        var phone = form["PhoneNumber"].value;
        if (phone.length <= 5) {
            //$('#dialogContent').html(data);
            $("#ErrorLabel").html("Необходимо указать контактный телефон!");
            return;
        }

        if (serviceId == 0) {
            //$('#dialogContent').html(data);
            $("#ErrorLabel").html("Необходимо выбрать услугу и причину обращения!");
            return;
        }
        if (addressId == 0) {
            //$('#dialogContent').html(data);
            $("#ErrorLabel").html("Необходимо выбрать адрес!");
            return;
        }
        form.submit();
    });

    function SetSelects(mass, id, arr) {
        var str = "";
        var s = "1";
        for (var i = 0; i < mass.length; i++) {
            str += "<option id='" + mass[i][arr["id"]] + "' >";
            arr["text"].forEach(function (item, j) {
                str += mass[i][item] + " ";
            });
            str += "</option>"
        }
        $("#" + id).empty();
        $("#" + id).append(str);
        $("#" + id).chosen({
            disable_search_threshold: 0,
            no_results_text: "Нет совпадений!",
            width: "90%",
            search_contains: true,
        });
        $("#" + id).trigger("chosen:updated");
    }

    function GetMasters(houseId, serviceId) {
        $.ajax({
            type: "POST",
            url: '/Requests/GetMastersByHouse',
            contentType: "application/json; charset=utf-8",
            data: '{houseNum:' + houseId + ', serviceNum:'+serviceId+ '}',
            dataType: "json",
            success: function(data) {
                var mass = JSON.parse(data);
                var arr = {
                    id: "Id",
                    text: ["Name"]
                };
                SetSelects(mass, "master_select", arr);
            }
        });
    }

    function GetHouses(streetId) {
        $.ajax({
            type: "POST",
            url: '/Requests/GetHousesForCreateNew',
            contentType: "application/json; charset=utf-8",
            data: '{streetNum:' + streetId + '}',
            dataType: "json",
            success: function(data) {
                var mass = JSON.parse(data);
                var arr = {
                    id: "Id",
                    text: ["Name"]
                };
                SetSelects(mass, "house_select", arr);
            }
        });
    }

    function GetAddresses(houseId) {
        $.ajax({
            type: "POST",
            url: '/Requests/GetAddressesForCreateNew',
            contentType: "application/json; charset=utf-8",
            data: '{houseNum:' + houseId + '}',
            dataType: "json",
            success: function(data) {
                var mass = JSON.parse(data);
                var arr = {
                    id: "Id",
                    text: ["Name"]
                };
                SetSelects(mass, "address_select", arr);
            }
        });
    }
    function GetServices(parentServiceId) {
        $.ajax({
            type: "POST",
            url: '/Requests/GetServicesByParentForCreateNew',
            contentType: "application/json; charset=utf-8",
            data: '{parentServiceNum:' + parentServiceId + '}',
            dataType: "json",
            success: function(data) {
                var mass = JSON.parse(data);
                var arr = {
                    id: "Id",
                    text: ["Name"]
                };
                SetSelects(mass, "service_select", arr);
            }
        });
    }

    $("#street_select").change(function () {
        var id = $("#street_select :selected")[0].id;
        GetHouses(id);
        GetAddresses(0);
    });
    $("#house_select").change(function () {
        var id = $("#house_select :selected")[0].id;
        var serviceId = $("#service_select :selected")[0].id;
        GetAddresses(id);
        GetMasters(id, serviceId);
    });
    $("#service_select").change(function () {
        var id = $("#house_select :selected")[0].id;
        var serviceId = $("#service_select :selected")[0].id;
        GetMasters(id, serviceId);
    });

    $("#parrent_service_select").change(function () {
        var id = $("#parrent_service_select :selected")[0].id;
        GetServices(id);
    });
    $('#service_select').trigger('chosen:updated');

</script>
